<style type="text/css">
<!--
.piculin {
 	font-size : 8pt;
 	font-family : Verdana;
 	font-style : normal;
 	color : black;
 } 
.Titulin  {
 	font-size : 11pt;
 	font-family : Verdana;
 	font-weight : bold;
 	font-style : normal;
 	color : black;
	margin-top:3;
	margin-left:10;
 }
.MajorList  {
 	font-size : 11pt;
 	font-family : Verdana;
 	font-weight : bold;
 	font-style : normal;
 	color : black;
	margin-top:3;
 }
 .MinorList  {
 	font-size : 11pt;
 	font-family : Verdana;
 	font-weight : bold;
 	font-style : normal;
 	color : black;
	margin-left:16;
 }
 .h3inside
 {
	color: black;
	font-family: Verdana;
	Font-size: 13pt;
	Font-style: normal;
	Font-weight: bold;
	Text-align: left;
}
A:hover  {
 	font-weight : bold;
 	color : #ff6b00;
 }
li{font-weight : bold;}
-->
</style>