<style type="text/css">
<!--

.UI_COMMAND{font-weight: bold;}
.UI_OPTION{font-weight: bold;}
.UI_SELECTOR{font-weight: bold;}
.UI_CONTEXT{font-weight: bold;}
.UI_DROPDOWNITEM{font-weight: bold;}
.UI_MINIDIALOG{font-weight: bold;}
.OLD{font-weight: bold;font-style: italic;}
.UI_COMMAND_NOBOLD{font-weight: normal;}
.UI_OPTION_NOBOLD{font-weight: normal;}
.UI_SELECTOR_NOBOLD{font-weight: normal;}
.UI_CONTEXT_NOBOLD{font-weight: normal;}
.UI_DROPDOWNITEM_NOBOLD{font-weight: normal;}
.UI_MINIDIALOG_NOBOLD{font-weight: normal;}
.OLD_NOBOLD{font-weight: bold;font-style: italic;}

-->
</style>