
    #tipBox  {
    	position : absolute;
    	z-index : 100;
    	border : 1pt black solid;
    	background : #ffffe1;
    	visibility : hidden;
    	border-style : outset;
    	padding-left : 5px;
    	padding-right : 5px;
    	padding-top : 5px;
    	padding-bottom : 5px;
    	border-left-width : thin;
    	border-top-width : thin;
    	border-right-width : medium;
    	border-bottom-width : medium;
    	border-color : silver;
    	float : left;
    }
 
