<style type="text/css">
<!--

BODY
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}

P
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}

LI
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}

UL
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;
margin-left:22;

}

OL
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;
margin-left:26;

}


TD
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}


H1
{ 

font-family: Verdana; 
font-size: 18pt; 
color: navy;


}

H2 
{


color:black;
font-family: Verdana;
Font-size: 16pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;


}

H3 
{

color: black;
font-family: Verdana;
Font-size: 14pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;


}


H4 
{

color: black;
font-family: Verdana;
Font-size: 12pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;


}

H5
{

color: black;
font-family: Verdana;
Font-size: 10.5pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;
margin-bottom: 5;


}

FORM {font-family: Verdana; font-size: 9pt; color: navy;}
OPTION {font-family: Verdana; font-size: 9pt; color: navy;}
SELECT {font-family: Verdana; font-size: 9pt; color: navy;}

-->
</style>