<style type="text/css"> 
 <!--
 BODY
 { 
 
 font-family: MS Sans Serif; 
 font-size: 9pt; 
 color: black;
 
 }
 
 P
 { 
 
 font-family: MS Sans Serif; 
 font-size: 9pt; 
 color: black;
 margin-top:0;
 margin-bottom:0;
 
 }
 
 LI
 { 
 
 font-family: MS Sans Serif; 
 font-size: 9pt; 
 color: black;
 
 }
 
 UL
 { 
 
 font-family: MS Sans Serif; 
 font-size: 9pt; 
 color: black;
 
 }
 
 OL
 { 
 
 font-family: MS Sans Serif; 
 font-size: 9pt; 
 color: black;
 
 }
 
 
 TD
 { 
 
 font-family: MS Sans Serif; 
 font-size: 9pt; 
 color: black;
 
 }
 
 
 H1
 { 
 
 font-family: MS Sans Serif; 
 font-size: 18pt; 
 color: navy;
 
 
 }
 
 H2 
 {
 
 
 color:black;
 font-family: MS Sans Serif;
 Font-size: 16pt;
 Font-style: normal;
 Font-weight: bold;
 Text-align: left;
 
 
 }
 
 H3 
 {
 
 color: black;
 font-family: MS Sans Serif;
 Font-size: 14pt;
 Font-style: normal;
 Font-weight: bold;
 Text-align: left;
 
 
 }
 
 
 H4 
 {
 
 color: black;
 font-family: MS Sans Serif;
 Font-size: 12pt;
 Font-style: normal;
 Font-weight: bold;
 Text-align: left;
 
 
 }
 
 H5
 {
 
 color: black;
 font-family: MS Sans Serif;
 Font-size: 10.5pt;
 Font-style: normal;
 Font-weight: bold;
 Text-align: left;
 margin-bottom: 5;
 
 
 }
 
 FORM {font-family: MS Sans Serif; font-size: 9pt; color: navy;}
 OPTION {font-family: MS Sans Serif; font-size: 9pt; color: navy;}
 SELECT {font-family: MS Sans Serif; font-size: 9pt; color: navy;}
 
.UI_COMMAND{font-weight: bold;}
.UI_OPTION{font-weight: bold;}
.UI_SELECTOR{font-weight: bold;}
.UI_CONTEXT{font-weight: bold;}
.UI_DROPDOWNITEM{font-weight: bold;}
.UI_MINIDIALOG{font-weight: bold;}
.OLD{font-weight: bold;font-style: italic;}
.UI_COMMAND_NOBOLD{font-weight: normal;}
.UI_OPTION_NOBOLD{font-weight: normal;}
.UI_SELECTOR_NOBOLD{font-weight: normal;}
.UI_CONTEXT_NOBOLD{font-weight: normal;}
.UI_DROPDOWNITEM_NOBOLD{font-weight: normal;}
.UI_MINIDIALOG_NOBOLD{font-weight: normal;}
.OLD_NOBOLD{font-weight: bold;font-style: italic;}
 -->
 </style>