<style type="text/css">
<!--

BODY
{ 

font-family: Myriad Pro, Arial Narrow, Verdana;
font-size: 11pt; 
color: black;

}

H1 
{

color: black;
font-family: Myriad Pro, Arial Narrow, Verdana;
Font-size: 12pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;


}


H2 {
font-family: Myriad Pro, Arial Narrow, Verdana;
font-size: 12pt; 
font-weight:bold;
margin-bottom : 3px;
}


H3{
  margin-top: 4mm;
  margin-bottom: 2mm;
  margin-left: 30;
  font-family: Myriad Pro, Arial Narrow, Verdana;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
 }



P{
margin-top:0;
margin-bottom:9;
margin-left:30;
font-family: Myriad Pro, Arial Narrow, Verdana;
font-size: 12pt;}

.noindent{
margin-top:0;
margin-bottom:3px;
margin-left:0;
font-family: Myriad Pro, Arial Narrow, Verdana;
font-size: 12pt;}


LI
{ 
font-family: Myriad Pro, Arial Narrow, Verdana;;
font-size: 12pt; 
color: black;

}

UL
{ 
font-family: Myriad Pro, Arial Narrow, Verdana;;
font-size: 12pt; 
color: black;
margin-left: 52;
margin-top: 0;
margin-bottom: 9;
}

OL
{ 

font-family: Myriad Pro, Arial Narrow, Verdana;;
font-size: 12pt; 
color: black;
margin-left: 60;
margin-top: 0;
margin-bottom: 9;
}


TD
{ 

font-family: Myriad Pro, Arial Narrow, Verdana;;
font-size: 12pt; 
color: black;
}



FORM {font-family: Myriad Pro, Arial Narrow, Verdana;font-size: 12pt; color: navy;}
OPTION {font-family: Myriad Pro, Arial Narrow, Verdana;font-size: 12pt; color: navy;}
SELECT {font-family: Myriad Pro, Arial Narrow, Verdana;;font-size: 12pt; color: navy;}

.UI_COMMAND{font-weight: bold;}
.UI_OPTION{font-weight: bold;}
.UI_SELECTOR{font-weight: bold;}
.UI_CONTEXT{font-weight: bold;}
.UI_DROPDOWNITEM{font-weight: bold;}
.UI_MINIDIALOG{font-weight: bold;}
.OLD{font-weight: bold;font-style: italic;}
.UI_COMMAND_NOBOLD{font-weight: normal;}
.UI_OPTION_NOBOLD{font-weight: normal;}
.UI_SELECTOR_NOBOLD{font-weight: normal;}
.UI_CONTEXT_NOBOLD{font-weight: normal;}
.UI_DROPDOWNITEM_NOBOLD{font-weight: normal;}
.UI_MINIDIALOG_NOBOLD{font-weight: normal;}
.OLD_NOBOLD{font-weight: bold;font-style: italic;}


.littop
{margin-top:5;
margin-bottom:5}

.smallerfont
 {font-family: Myriad Pro, Arial Narrow, Verdana;;
 font-size: 8.5pt; }

.h1like
 {font-family: Myriad Pro, Arial Narrow, Verdana;
 font-size: 16pt;
 font-weight: bold; }

 .noleft
{
font-family:Myriad Pro, Arial Narrow, Verdana;
font-size:12pt;
margin-left: 22;
margin-top: 0;
}

 .noleftbot
{
font-family:Myriad Pro, Arial Narrow, Verdana;
font-size:12pt;
margin-left: 22;
margin-top: 0;
margin-bottom: 0;
}

 .litleft
{
font-family:Myriad Pro, Arial Narrow, Verdana;
font-size:12pt;
margin-left: 22;
margin-top: 0;
margin-bottom: 0;
}

 .noleft30
{
margin-left: 52;
margin-top: 0;
margin-bottom: 0;
font-family: Myriad Pro, Arial Narrow, Verdana;
font-size: 12pt; 
}


.ver9{
font-family: Myriad Pro, Arial Narrow, Verdana;
font-size: 11pt;}

.ver8{
font-family: Myriad Pro, Arial Narrow, Verdana;
font-size: 8pt;}
</style>

-->
</style>