<style type="text/css">
<!--

BODY
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}

P
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}

LI
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}

UL
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}

OL
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}


TD
{ 

font-family: Verdana; 
font-size: 10pt; 
color: black;

}


H1
{ 

font-family: Verdana; 
font-size: 18pt; 
color: navy;


}

H2 
{


color:black;
font-family: Verdana;
Font-size: 16pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;


}

H3 
{

color: black;
font-family: Verdana;
Font-size: 14pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;


}


H4 
{

color: black;
font-family: Verdana;
Font-size: 12pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;


}

H5
{

color: black;
font-family: Verdana;
Font-size: 10.5pt;
Font-style: normal;
Font-weight: bold;
Text-align: left;
margin-bottom: 5;


}

FORM {font-family: Verdana; font-size: 9pt; color: navy;}
OPTION {font-family: Verdana; font-size: 9pt; color: navy;}
SELECT {font-family: Verdana; font-size: 9pt; color: navy;}




.Outline{font-size: 10pt; font-family: Verdana; font-weight:bold; text-decoration:underline; color:blue;}
.DropDown	{text-decoration: none; font-weight: bold; top: 0pt;} 
.DropDown:hover	{text-decoration: none; }
.HidePopUp 	{text-decoration: none; }
.HidePopUp:hover{text-decoration: none; }
.Glossary	{text-decoration: none; }
.glossary:hover	{text-decoration: none; }
.Glossarydef	{color: #008C00; text-decoration: none;}
.srcContent 	{ }
.expfav		{font-size: 80%; text-align: Right; margin-top: -1em; margin-bottom: 0; }
.expanded	{font-weight: normal; }	
.collapsed	{display: none;}			 	
.def		{margin-top: 40pt;}
.visibile	{font-weight: normal; }	
.nascosta	{display: none;}	

.UI_COMMAND{font-weight: bold;}
.UI_OPTION{font-weight: bold;}
.UI_SELECTOR{font-weight: bold;}
.UI_CONTEXT{font-weight: bold;}
.UI_DROPDOWNITEM{font-weight: bold;}
.UI_MINIDIALOG{font-weight: bold;}
.OLD{font-weight: bold;font-style: italic;}
.UI_COMMAND_NOBOLD{font-weight: normal;}
.UI_OPTION_NOBOLD{font-weight: normal;}
.UI_SELECTOR_NOBOLD{font-weight: normal;}
.UI_CONTEXT_NOBOLD{font-weight: normal;}
.UI_DROPDOWNITEM_NOBOLD{font-weight: normal;}
.UI_MINIDIALOG_NOBOLD{font-weight: normal;}
.OLD_NOBOLD{font-weight: bold;font-style: italic;}

-->
</style>