@using System.Globalization
@using System.Threading;
@{
    var menus = new[]
                {
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_Home, ActionName="Index",ControllerName="Home",Roles="All"  },
                   //new { LinkText="Companies", ActionName="Companies",ControllerName="Var",Roles="Var"  },
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_AllCompanies, ActionName="Index",ControllerName="Company",Roles="Admin,Var,VarExp,Internal"  },
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_AllLicenses, ActionName="Index",ControllerName="License",Roles="Admin,Var,VarExp,Internal"  },
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_AllPeoples, ActionName="Index",ControllerName="People",Roles="Admin,VarExp"  },
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_Licenses, ActionName="Licenses",ControllerName="User",Roles="NormalUser"  },
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_Orders, ActionName="Index",ControllerName="Order",Roles="Admin"  },
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_Download, ActionName="Index",ControllerName="Download",Roles="All"  },
                   new { LinkText=@DPTnew.Localization.Resource.View_Menu_Activities, ActionName="Index",ControllerName="Intranet",Roles="Admin,Internal"  }
                };
}
<ul style="margin-top:10px;">
    @{
        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;

        <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>

        <li><a href="/Home/ChangeCurrentCulture/1">Italiano</a></li>

        <li><a href="/Home/ChangeCurrentCulture/2">Japanese</a></li>

    }
</ul> 

<ul id="menu">

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @*If user is authenticated and has multiple roles, show links having All or ANY user-role role.*@
        String[] roles = Roles.GetRolesForUser();
        if (roles.Length > 0)
        {
            var links = from item in menus
                        where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                        .Any(x => roles.Contains(x) || x == "All")
                        select item;
            foreach (var link in links)
            {
                @:
                <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
    }
        }
        else
        {
            @*If user has no roles, show links having All or NormalUser Role*@

            var links = from item in menus
                        where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                        .Any(x => x == "NormalUser" || x == "All")
                        select item;
            foreach (var link in links)
            {
                @:
                <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
    }

        }

        @*if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin"))
        {
            <li>@Html.ActionLink("Safenet Sync", "SyncDB", "Company", null,
            new { onclick = "return confirm('Would you like to continue?')"})</li>
            <li>Safenet Sync</li>
        }*@
    }

    @*  *@
</ul>

