@{
    var menus = new[]
                {
                   new { LinkText="Home", ActionName="Index",ControllerName="Home",Roles="All"  },
                   //new { LinkText="Companies", ActionName="Companies",ControllerName="Var",Roles="Var"  },
                   new { LinkText="All Companies", ActionName="Index",ControllerName="Company",Roles="Admin,Var,VarExp,Internal"  },
                   new { LinkText="All Licenses", ActionName="Index",ControllerName="License",Roles="Admin,Var,VarExp,Internal"  },
                   new { LinkText="Licenses", ActionName="Licenses",ControllerName="User",Roles="NormalUser"  },
                   new { LinkText="Download", ActionName="Index",ControllerName="Download",Roles="All"  },
                   new { LinkText="Activities", ActionName="Index",ControllerName="Intranet",Roles="Admin,Internal"  }
                };
}

<ul id="menu">

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @*If user is authenticated and has multiple roles, show links having All or ANY user-role role.*@
        String[] roles = Roles.GetRolesForUser();
        if (roles.Length > 0)
        {
            var links = from item in menus
                        where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                        .Any(x => roles.Contains(x) || x == "All")
                        select item;
            foreach (var link in links)
            {
                @:
                <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
    }
        }
        else
        {
            @*If user has no roles, show links having All or NormalUser Role*@

            var links = from item in menus
                        where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                        .Any(x => x == "NormalUser" || x == "All")
                        select item;
            foreach (var link in links)
            {
                @:
                <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
    }

        }

        if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin"))
        {
            <li>@Html.ActionLink("Safenet Sync", "SyncDB", "Company", null,
            new { onclick = "return confirm('Would you like to continue?')"})</li>
            @*<li>Safenet Sync</li>*@
        }
    }

    @*  *@
</ul>
