@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>ThinkDesign Help</title>
</head>
<frameset cols="400, *">
    <frame src="~/Content/Help/myleft.htm" name="left" id="left" scrolling="Auto" marginwidth="5" marginheight="5" style="border-right: 1px groove #63a9d8;">
    <frame src="~/Content/Help/language/HelpInitialPage5.htm" name="body" id="body" scrolling="Auto" marginwidth="5" marginheight="5" style="border-left:0 groove #ffffff;">
</frameset>
</html>
