@{
    ViewBag.Title = "SuccessView";
}

<p style="font-size: 1.3em;">
    @ViewBag.ok1
</p>
<button name='close' onclick="javascript: window.open('', '_self').close()">@DPTnew.Localization.Resource.Close </button>
