@{
    ViewBag.Title = "SuccessView";
}

<p style ="font-size: 1.3em;" >@ViewBag.ok1

</p>
<p style ="font-size: 1.3em;" >@ViewBag.ok2

</p>
<a href="javascript:window.open('','_self').close();"><input type="submit" value="@DPTnew.Localization.Resource.Close" /></a>

